.content {
  margin-top: 3rem;
  font-size: 1.5rem; /* Taille équivalente à text-xl */
  line-height: 1.8; /* Espacement entre les lignes */
}

p {
  line-height: 1.8 !important; /* Espacement entre les lignes */
}

.mermaid {
  max-width: 50%; /* Réduit la largeur globale */
  margin: 0 auto; /* Centre le schéma */
  font-size: 0.85em; /* Réduit la taille du texte */
}

.bash {
  font-size: 1.85em; /* Réduit la taille du texte */
}

.large-code {
  font-size: 1.5em; /* Ajuste la taille du texte */
  line-height: 1.6; /* Augmente l'espacement entre les lignes */
}
